/*Paleta de cores
Shades da mais parecida até a mais escura
#d98674
#ba7364
#9b6053
#7c4d43
#5d3932
#3e2621
#1f1311 quase preto
*/
:root{
    --vermelho: #E50914;
    --preta: #d98674;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/

body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif ;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 30px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50), 100%);
    background: url('/img/capa.jpg');


    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 90px;
}

.titulo{
    font-size: 40px;
}